/* Start Logo Area CSS */
.logo-upload {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}
.logo-upload #logo-preview {
    margin-top: 0 !important;
}
/* End Logo Area CSS */
/* Start Reviews Area CSS */
.logo-row h4 {
    font-size: 16px;
}
#reviews-container .review {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
#reviews-container .review .review-col {
    display: flex;
    flex-wrap: wrap;
}
#reviews-container .review .review-col .inner-col {
    display: flex;
    flex-direction: column;
}
#reviews-container .review .review-col .inner-col:nth-child(1) {
    width: 95%;
    margin-bottom: 7px;
}
#reviews-container .review .review-col .inner-col:nth-child(2) {
    width: 25%;
}
#reviews-container .review .review-col .inner-col:nth-child(3) {
    width: 69%;
    margin-left: 0.8%;
}
#reviews-container .review .remove-review {
    cursor: pointer;
    display: inline-block;
    margin-left: 1%;
    vertical-align: middle;
    line-height: 29px;
    margin-top: 10px;
}
#reviews-container .review:last-child {
    margin-bottom: 15px;
}
.opiniones input {
    width: 100%;
}
/* End Reviews Area CSS */